@font-face {
  font-family: Jambo;
  font-style: normal;
  font-weight: normal;
  src: url("Jambo.otf") format("opentype");
}

@font-face {
  font-family: Denominator;
  font-style: normal;
  font-weight: normal;
  src: url("Denominator.ttf") format('truetype');
}

.active {
  color: green;
}

body {
  background-color: black;
}


.my-img-responsive {
  max-width: 100%;
  max-height: 200px;
  display: block;
}

.info-display {
  margin-bottom: 5px;
}

#main-container {
  background-color: white;
  width:ã€€70%;
  margin-bottom: 50px;
}

#title {
  font-family: Jambo;
}

#glass {
  color: purple;
}

.section-title{
  font-size: 2em;
  margin-bottom: 20px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #333;
  color:white;
}

